@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Че пасаны ДНД?</h1>
</div>
<a class="nav-link text-dark" asp-area="" asp-controller="Initiative" asp-action="Index">Initiative</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Scenes" asp-action="Index">Scenes</a>
